.emd-field {
  display: grid;
  grid-template-columns: 1fr 2.125em;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #c3c8d2; /* changed by :host */
  font-size: 16px;
}

.emd-field__input {
  -webkit-appearance: none;
  appearance: none;
  font-size: 1em;
  line-height: 1;
  border: none;
  padding: 1em; /* changed by :host */
  box-sizing: border-box;
  color: #2d3844;
  background: #fff;
  width: 100%;
}

.emd-field__input:-webkit-autofill,
.emd-field__input:-webkit-autofill:hover, 
.emd-field__input:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #2d3844;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.emd-field:focus-within {
  border-width: 2px;
  grid-template-columns: 1fr calc(2.125em - 1px);
}

.emd-field:focus-within .emd-field__input {
  padding: calc(1em - 1px);
}

.emd-field__input:focus {
  outline: none;
}

.emd-field__input::placeholder {
  color: #96a0af;
}

.emd-field__input::-moz-placeholder {
  opacity: 1;
}

.emd-field__icon {
  display: none; /* changed by :host */
  width: 1.5em;
}

.emd-field__icon_validating {
  color: #96a0af;
  fill: #96a0af;
}

.emd-field__icon_success {
  color: #2ecc71;
  fill: #2ecc71;
}

.emd-field__icon_error {
  color: #e74c3c;
  fill: #e74c3c;
}

.emd-field__icon_validating circle {
  transform-origin: center;
  animation: oscillate 0.6s infinite ease-in-out alternate;
}

.emd-field__icon_validating circle:nth-child(2) {
  animation-delay: 0.2s;
}

.emd-field__icon_validating circle:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes oscillate {
  from {
    r: 4;
  }
  to {
    r: 2;
  }
}
