@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  margin: 30px;
  font-size: 16px;
  background-color: #f2f5f7;
  color: #2d3844;
  line-height: 1.35;
}

body {
  display: grid;
  grid-gap: 30px;
}

.fake-component {
  width: 100%;
  height: 200px;
  background: repeating-linear-gradient(
    45deg,
    rgba(45, 56, 68, 0.075),
    rgba(45, 56, 68, 0.075) 10px,
    rgba(45, 56, 68, 0.15) 10px,
    rgba(45, 56, 68, 0.15) 20px
  );
}

h4, p {
  margin: 0;
}

button {
  vertical-align: middle;
}

emd-loader:nth-of-type(2) {
  font-size: 10px;
}

emd-loader:nth-of-type(3) {
  font-size: 12px;
}

emd-loader:nth-of-type(4) {
  font-size: 14px;
}

emd-loader:nth-of-type(5) {
  font-size: 16px;
}

emd-loader:nth-of-type(6) {
  font-size: 18px;
}

emd-loader:nth-of-type(7) {
  font-size: 20px;
}

emd-loader:nth-of-type(8) {
  color: #2d3844;
}
