:host .login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host .login__title {
  font: var(--typography-title);
  color: var(--color-white-label-grey);
  text-transform: uppercase;
}

:host .login__error {
  color: var(--color-danger);
  text-align: center;
  font: var(--typography-caption);
  margin-top: 0;
}

/* for compatibility */

sling-login .login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

sling-login .login__title {
  font: var(--typography-title);
  color: var(--color-white-label-grey);
  text-transform: uppercase;
}

sling-login .login__error {
  color: var(--color-danger);
  text-align: center;
  font: var(--typography-caption);
  margin-top: 0;
}
