.list-view {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.list-view__row {
  color: #181c24;
  text-align: left;
  display: flex;
  font-size: 24px;
}

.list-view__key,
.list-view__value {
  flex-basis: 0;
}

.list-view__key {
  font-weight: bold;
  padding: 5px;
  margin-top: 0;
  color: #424b54;
  white-space: nowrap;
}

.list-view__value {
  flex-grow: 1;
  padding: 5px;
  color: #181c24;
}

.list-view_cascade .list-view__row {
  flex-direction: column;
}
