{
  "env": {
    "es-package": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-async-to-generator",
      ]
    },
    "es-bundle": {
      "plugins": [
        "external-helpers",
        "transform-object-rest-spread",
        "transform-async-to-generator",
      ]
    },
    "cjs-package": {
      "presets": [
        ["env", { "modules": "commonjs" }]
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-async-to-generator",
      ]
    },
    "cjs-bundle": {
      "presets": [
        ["env", { "modules": false }]
      ],
      "plugins": [
        "external-helpers",
        "transform-object-rest-spread",
        "transform-async-to-generator",
      ]
    }
  }
}
