.body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px 20px;
  margin: 30px 20px;
  background: #fff;
  align-items: center;
  justify-items: flex-start;
}

.span {
  grid-column: span 3;
  width: 100%;
}

#counter{
  position: fixed;
  right: 5px;
}