h4,
h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h4 { font-size: 16px; }
h3 { font-size: 13px; }

div {
  grid-column-end: span 2;
}

sling-form {
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px 30px;
}

sling-field-message {
  height: 30px;
  margin-top: 10px;
  font-size: 13px;
}