/* layouts */

/* vertical*/
:host([layout="vertical"]) {
  display: block;
  position: relative;
}

:host-context([layout="vertical"]) ::slotted(sling-menu-item) {
  box-sizing: border-box;
  font-weight: 500;
  margin: 0;
  color: #c3c8d2;
  background-color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
}

:host-context([layout="vertical"]) ::slotted(sling-menu-item:last-child) {
  border-bottom: 1px solid #c3c8d2;
}

/*horizontal*/
:host([layout="horizontal"]) {
  margin: 0;
  padding: 0;
  font-size: 0;
}

:host-context([layout="horizontal"]) ::slotted(sling-menu-item) {
  margin: 0;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

:host-context([layout="horizontal"]) ::slotted(sling-menu-item:last-child) {
  border-right: 1px solid #c3c8d2;
}

/* sizes */
:host-context([size="small"]) ::slotted(sling-menu-item) {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

:host-context([size="medium"]) ::slotted(sling-menu-item) {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

:host-context([size="large"]) ::slotted(sling-menu-item) {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

/*icon only*/
:host([icononly]) ::slotted(sling-menu-item) {
  overflow: hidden;
  text-indent: -9999px;
}

:host([size="small"][icononly]) ::slotted(sling-menu-item) {
  width: 50px;
}

:host([size="medium"][icononly]) ::slotted(sling-menu-item) {
  width: 53px;
}

:host([size="large"][icononly]) ::slotted(sling-menu-item) {
  width: 56px;
}

:host([layout="vertical"][icononly]) ::slotted(sling-menu-item) {
  border-right: 1px solid #c3c8d2;
}