:host {
  position: relative;
  display: inline-block;
  width: 24px;
  height: auto !important;
  background: transparent !important;
}

/* for compatibility */

sling-icon {
  position: relative;
  display: inline-block;
  width: 24px;
  height: auto !important;
  background: transparent !important;
}
