::slotted(sling-menu) {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(100% - 1px);
  width: 100%;
}

:host(sling-menu-item:hover) ::slotted(sling-menu) {
  display: block;
}