sling-icon {
  position: absolute;
  top: 16px;
  left: 16px;
}

sling-icon.small {
  width: 18px;
  height: 18px;
}

sling-icon.medium {
  width: 21px;
  height: 21px;
}

sling-icon.large {
  width: 24px;
  height: 24px;
}

a {
  padding: 16px;
  width: 100%;
  display: block;
  text-decoration: none;
  position: relative;
  color: #2d3844;
  border-color: #c3c8d2;
  border-style: solid;
}

a:focus, a.vertical:focus, a.horizontal:focus {
  border-color: #2d3844;
  border-width: 1px;
}

a.hasIcon.small {
  padding: 16px 16px 16px 42px;
}

a.hasIcon.medium {
  padding: 16px 16px 16px 45px;
}

a.hasIcon.large {
  padding: 16px 16px 16px 48px;
}

a.vertical {
  border-width: 1px 1px 0 1px;
}

a.horizontal {
  border-width: 1px 0 1px 1px;
}

a:hover, a.active {
  color: #2d3844;
  background-color: #fafafc;
}

a.vertical:hover, a.vertical.active {
  border-left: solid 1px  var(--sling-button-primary-color, #0DB14B);
  box-shadow: inset 1px 0 0 0 var(--sling-button-primary-color, #0DB14B);
}

a.vertical:hover:after {
  content: '';
  position: absolute;
  top: 0;
  right: -10%;
  width: 35%;
  height: 100%;
}

a.horizontal:hover, a.horizontal.active {
  box-shadow: inset 0 -1px 0 0 var(--sling-button-primary-color, #0DB14B);
  border-bottom: solid 1px var(--sling-button-primary-color, #0DB14B);
}