sling-icon {
  position: absolute;
  top: 16px;
  left: 16px;
}

sling-icon.small {
  width: 18px;
  height: 18px;
}

a {
  padding: 16px;
  width: 100%;
  display: block;
  text-decoration: none;
  position: relative;
  color: #2d3844;
  border-color: #c3c8d2;
  border-style: solid;
}

a:focus {
  border-color: #2d3844;
}

a.hasIcon {
  padding: 16px 16px 16px 42px;
}

a.vertical {
  border-width: 1px 1px 0 1px;
}

a.horizontal {
  border-width: 1px 0 1px 1px;
}

a:hover, a.active {
  color: #2d3844;
  background-color: #fafafc;
}

a.vertical:hover, a.vertical.active {
  border-left: solid 1px  #0DB14B;
  box-shadow: inset 1px 0 0 0 #0DB14B;
}

a.vertical:hover:after {
  content: '';
  position: absolute;
  top: 0;
  right: -10%;
  width: 35%;
  height: 100%;
  /*background-image: linear-gradient(135deg, #ffc2c2 25%, #ff0000 25%, #ff0000 50%, #ffc2c2 50%, #ffc2c2 75%, #ff0000 75%, #ff0000 100%);
  background-size: 25px 25px;*/
}

a.horizontal:hover, a.horizontal.active {
  box-shadow: inset 0 -1px 0 0 #0DB14B;
  border-bottom: solid 1px #0DB14B;
}