.emd-money__wrapper {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: flex-start;
}

.emd-money__wrapper span + span {
  padding-left: 0.1875em;
}

.emd-money__wrapper_positive {
  color: var(--emd-money-positive-color, inherit);
}

.emd-money__wrapper_negative {
  color: var(--emd-money-negative-color, inherit);
}

.emd-money__wrapper_neutral {
  color: var(--emd-money-neutral-color, inherit);
}
