:host {
  display: block;
}

.emd-loading-wrapper__wrapper {
  position: relative;
}

.emd-loading-wrapper__wrapper span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

/* for Edge compatibility */

emd-loading-wrapper {
  display: block;
}
