@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  margin: 30px;
  font-size: 16px;
  background-color: #f2f5f7;
  color: #2d3844;
  line-height: 1.35;
}

body {
  display: grid;
  grid-gap: 30px;
}

.fake-component {
  width: 100%;
  height: 200px;
  background: repeating-linear-gradient(
    45deg,
    rgba(45, 56, 68, 0.075),
    rgba(45, 56, 68, 0.075) 10px,
    rgba(45, 56, 68, 0.15) 10px,
    rgba(45, 56, 68, 0.15) 20px
  );
}

h4, p {
  margin: 0;
}

emd-select {
  font-size: 14px;
}

emd-select:nth-of-type(14) {
  --emd-field-padding: 0.5em;
}

emd-select:nth-of-type(15) {
  --emd-field-padding: 0.75em;
}

emd-select:nth-of-type(16) {
  --emd-field-padding: 1em;
}

emd-select:nth-of-type(17) {
  --emd-field-padding: 1.5em;
}

emd-select:nth-of-type(18) {
  font-size: 14px;
}

emd-select:nth-of-type(19) {
  font-size: 16px;
}

emd-select:nth-of-type(20) {
  font-size: 18px;
}

emd-select:nth-of-type(21) {
  font-size: 20px;
}
