:host {
  display: block;
}

.emd-notification__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  box-sizing: border-box;
  background: #fff;
  border-width: 1px 1px 1px 10px;
  border-style: solid;
  border-radius: 0.25em 0.625em 0.625em 0.25em;
  padding: 1.875em;
  overflow: hidden;
}

.emd-notification__wrapper.is-alert {
  border-color: #F9BF09;
}

.emd-notification__wrapper.is-danger {
  border-color: #E74C3C;
}

.emd-notification__wrapper.is-success {
  border-color: #14AA4B;
}

.emd-notification__wrapper svg {
  display: block;
  width: 2.75em;
  margin-right: 2.625em;
  fill: currentColor;
}

.emd-notification__wrapper.is-alert svg {
  color: #F9BF09;
}

.emd-notification__wrapper.is-danger svg {
  color: #E74C3C;
}

.emd-notification__wrapper.is-success svg {
  color: #14AA4B;
}

/* for Edge compatibility */
emd-notification {
  display: block;
}
