:host {
  display: block;
}

.emd-table__wrapper {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--emd-table-row-background, #fff);
}

.emd-table__wrapper_clickable .emd-table__body {
  cursor: pointer;
}

@supports (mix-blend-mode: multiply) {
  .emd-table__wrapper_clickable .emd-table__body .emd-table__row:hover .emd-table__cell::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--emd-table-row-overlay, transparent);
    mix-blend-mode: multiply;
    z-index: 0;
  }
}

.emd-table__cell {
  position: relative;
  font-weight: inherit;
  height: var(--emd-table-row-height, 1em);
  padding: var(--emd-table-row-padding, 1em) 0;
}

.emd-table__cell > * {
  position: relative;
  z-index: 1;
}

.emd-table__header .emd-table__cell {
  height: var(--emd-table-header-row-height, var(--emd-table-row-height, 1em));
  padding: var(--emd-table-header-row-padding, var(--emd-table-row-padding, 1em)) 0;
}

.emd-table__row + .emd-table__row .emd-table__cell,
.emd-table__header + .emd-table__body .emd-table__row:nth-child(1) .emd-table__cell {
  border-top: 1px solid rgba(45, 56, 68, 0.1);
}

.emd-table__cell:nth-child(1) {
  padding-left: 20px;
}

.emd-table__cell:nth-last-child(1) {
  padding-right: 20px;
}

.emd-table__wrapper_expanded .emd-table__cell:nth-child(1) {
  padding-left: 0;
}

.emd-table__wrapper_expanded .emd-table__cell:nth-last-child(1) {
  padding-right: 0;
}

/* Compact */

.emd-table__wrapper_view_compact {
  border: 0;
  background-color: transparent;
}

.emd-table__wrapper_view_compact .emd-table__header {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

.emd-table__wrapper_view_compact .emd-table__row {
  display: block;
  background-color: var(--emd-table-row-background, #fff);
}

.emd-table__wrapper_view_compact .emd-table__row + .emd-table__row {
  margin-top: 1em;
}

.emd-table__wrapper_view_compact .emd-table__cell {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: auto !important; /* to overwrite inline style */
}

.emd-table__wrapper_view_compact .emd-table__cell:nth-child(1),
.emd-table__wrapper_view_compact .emd-table__row + .emd-table__row .emd-table__cell:nth-child(1),
.emd-table__wrapper_view_compact .emd-table__header + .emd-table__body .emd-table__row:nth-child(1) .emd-table__cell:nth-child(1) {
  border-top: 0;
}

.emd-table__wrapper_view_compact .emd-table__cell::before {
  content: attr(data-label);
  display: block;
  margin-right: auto;
}

.emd-table__wrapper_view_compact .emd-table__cell {
  padding-left: 20px;
  padding-right: 20px;
}

.emd-table__wrapper_view_compact.emd-table__wrapper_expanded .emd-table__cell {
  padding-left: 0;
  padding-right: 0;
}

/* for Edge compatibility */

emd-table {
  display: block;
}
