:host {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 2.5em;
  text-align: center;
}

:host([disabled]) {
  color: #c3c8d2;
}

.emd-button__wrapper {
  position: relative;
  width: 100%;
  text-decoration: inherit; /* for Safari */
}

.emd-button__wrapper,
.emd-button__wrapper * {
  /* for Mobile */

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.emd-button__button {
  -webkit-appearance: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: var(--emd-button-padding, 1.125em 1.5em);
  border: none;
  background: transparent;
  font: inherit;
  color: inherit;
  text-decoration: inherit; /* for Safari */
  text-align: inherit;
  user-select: none;
  cursor: pointer;
  transition: opacity 0.13s;
}

.emd-button__button::-moz-focus-inner {
  border: none; /* for Firefox */
}

.emd-button__button_href {
  text-decoration: none;
}

.emd-button__wrapper_loading .emd-button__button,
.emd-button__wrapper_disabled .emd-button__button,
.emd-button__button[disabled] {
  cursor: default;
  pointer-events: none;
}

.emd-button__button:focus {
  outline: none;
}

.emd-button__wrapper_loading .emd-button__button {
  opacity: 0;
}

.emd-button__loader {
  position: absolute;
  font-size: 0.875em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: inherit;
  pointer-events: none;
  transition: opacity 0.13s;
}

.emd-button__wrapper:not(.emd-button__wrapper_loading) .emd-button__loader {
  opacity: 0;
}

.emd-button__icon {
  display: block;
  margin-left: -0.25em;
  margin-right: -0.25em;
  line-height: 1;
}

.emd-button__text {
  display: block;
}

.emd-button__wrapper_has-icon.emd-button__wrapper_has-text .emd-button__icon {
  margin-right: 0.5em;
}

/* ABC */

:host([abc]) {
  border: none !important;
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
}

:host([abc]) .emd-button__wrapper {
  color: white;
  border: 1px solid #088037;
  background-color: #088037;
  border-radius: 4px;
  transition: background-color 0.065s;
}

:host([abc][rank=secondary]) .emd-button__wrapper {
  color: #088037;
  background-color: transparent;
  mix-blend-mode: multiply;
}

:host([abc][rank=tertiary]) .emd-button__wrapper {
  color: #088037;
  border-color: #DCF2E4;
  background-color: #DCF2E4;
  mix-blend-mode: multiply;
}

:host([abc][tab-focus]) .emd-button__wrapper {
  box-shadow: 0px 0px 8px rgba(0, 171, 99, 0.5);
}

@media (hover: hover) {
  /* Pointer hover */

  :host([abc]) .emd-button__wrapper:hover {
    background-color: #036228;
  }

  :host([abc][rank=secondary]) .emd-button__wrapper:hover {
    background-color: #DCF2E4;
  }

  :host([abc][rank=tertiary]) .emd-button__wrapper:hover {
    background-color: #BFEED0;
  }
}

@media (hover: none) {
  /* Touch fake hover */

  :host([abc]) .emd-button__wrapper:active {
    background-color: #036228;
  }

  :host([abc][rank=secondary]) .emd-button__wrapper:active {
    background-color: #DCF2E4;
  }

  :host([abc][rank=tertiary]) .emd-button__wrapper:active {
    background-color: #BFEED0;
  }
}

:host([abc]) .emd-button__wrapper:active {
  box-shadow: 0px 0px 16px rgba(0, 171, 99, 0.5);
}

:host([abc][disabled]) .emd-button__wrapper,
:host([abc]) .emd-button__wrapper_loading:active {
  box-shadow: none;
}

:host([abc][disabled]) .emd-button__wrapper,
:host([abc][disabled]) .emd-button__wrapper:hover {
  border-color: #96A0AF;
  background-color: #96A0AF;
}

:host([abc][disabled][rank=secondary]) .emd-button__wrapper,
:host([abc][disabled][rank=secondary]) .emd-button__wrapper:hover {
  background-color: transparent;
  color: #96A0AF;
}

:host([abc][disabled][rank=tertiary]) .emd-button__wrapper,
:host([abc][disabled][rank=tertiary]) .emd-button__wrapper:hover {
  border-color: #F4F4F9;
  background-color: #F4F4F9;
  color: #677481;
}

:host([abc]) .emd-button__button {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 16px 1.25em;
}

:host([abc]) .emd-button__loader {
  font-size: 16px;
}

:host([abc][size=medium]) .emd-button__button {
  font-size: 14px;
  line-height: 22px;
  padding: 12px 1.25em;
}

:host([abc][size=medium]) .emd-button__loader {
  font-size: 11px;
}

:host([abc][size=small]) .emd-button__button {
  font-size: 12px;
  line-height: 18px;
  padding: 5px 1.25em;
}

:host([abc][size=small]) .emd-button__loader {
  font-size: 8px;
}
