.emd-state-wrapper__state_recovery {
  font-size: 1em;
  text-align: center;
  color: #0db14b;
}


.emd-state-wrapper__state_recovery .emd-state-wrapper__action {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.emd-state-wrapper__state_recovery .emd-state-wrapper__icon {
  font-size: 2em;
  margin-bottom: 0.4375em;
}
