:host {
  display: block;
}

.emd-tooltip__wrapper {
  position: relative;
  display: inline-block;
}

.emd-tooltip__wrapper_targeted {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* Tooltip text */

.emd-tooltip__text {
  display: none;
  background-color: var(--emd-tooltip-background-color, #0c1219);
  color: var(--emd-tooltip-text-color, #fff);
  padding: 0.75em;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
  text-align: var(--emd-tooltip-text-align, left);
  font-size: var(--emd-tooltip-font-size, 0.75em);
  width: var(--emd-tooltip-min-width, var(--emd-tooltip-width, max-content));
}

/* Show the tooltip text on mouse over */

.emd-tooltip__wrapper_legacy:hover .emd-tooltip__text,
.emd-tooltip__wrapper_targeted.emd-tooltip__wrapper_active .emd-tooltip__text {
  display: block;
  opacity: 1;
  white-space: normal;
}

/* Right */

.emd-tooltip__text_position_right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 14px;
  border: 1px solid var(--emd-tooltip-border-color, var(--emd-tooltip-background-color, #0c1219));
}

.emd-tooltip__text_position_right::after,
.emd-tooltip__text_position_right::before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.emd-tooltip__text_position_right::after {
	border-right-color: var(--emd-tooltip-background-color, #0c1219);
	border-width: 7px;
	margin-top: -7px;
}

.emd-tooltip__text_position_right::before {
	border-right-color: var(--emd-tooltip-border-color, var(--emd-tooltip-background-color, #0c1219));
	border-width: 8px;
	margin-top: -8px;
}

/* Left */

.emd-tooltip__text_position_left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  margin-right: 14px;
  border: 1px solid var(--emd-tooltip-border-color, var(--emd-tooltip-background-color, #0c1219));
}

.emd-tooltip__text_position_left::after,
.emd-tooltip__text_position_left::before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.emd-tooltip__text_position_left::after {
	border-left-color: var(--emd-tooltip-background-color, #0c1219);
	border-width: 7px;
	margin-top: -7px;
}

.emd-tooltip__text_position_left::before {
	border-left-color: var(--emd-tooltip-border-color, var(--emd-tooltip-background-color, #0c1219));
	border-width: 8px;
	margin-top: -8px;
}

/* Top */

.emd-tooltip__text_position_top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 14px;
  border: 1px solid var(--emd-tooltip-border-color, var(--emd-tooltip-background-color, #0c1219));
}

.emd-tooltip__text_position_top::after,
.emd-tooltip__text_position_top::before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.emd-tooltip__text_position_top::after {
	border-top-color: var(--emd-tooltip-background-color, #0c1219);
	border-width: 7px;
	margin-left: -7px;
}

.emd-tooltip__text_position_top::before {
	border-top-color: var(--emd-tooltip-border-color, var(--emd-tooltip-background-color, #0c1219));
	border-width: 8px;
	margin-left: -8px;
}

/* Bottom */

.emd-tooltip__text_position_bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 14px;
  border: 1px solid var(--emd-tooltip-border-color, var(--emd-tooltip-background-color, #0c1219));
}

.emd-tooltip__text_position_bottom::after,
.emd-tooltip__text_position_bottom::before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.emd-tooltip__text_position_bottom::after {
	border-bottom-color: var(--emd-tooltip-background-color, #0c1219);
	border-width: 7px;
	margin-left: -7px;
}

.emd-tooltip__text_position_bottom::before {
	border-bottom-color: var(--emd-tooltip-border-color, var(--emd-tooltip-background-color, #0c1219));
	border-width: 8px;
	margin-left: -8px;
}

/* for Edge compatibility */

emd-tooltip {
  display: block;
}