:host {
  display: block;
}

::slotted(*) {
  display: block;
}

.emd-field-wrapper__label,
.emd-field-wrapper__message,
.emd-field-wrapper__hint {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
}

.emd-field-wrapper__label {
  font-weight: bold;
  margin-bottom: 0.4375em;
}

.emd-field-wrapper__message,
.emd-field-wrapper__hint {
  margin-top: 0.4375em;
}

.emd-field-wrapper__message {
  color: #E74C3C;
}

/* for Edge compatibility */

emd-field-wrapper {
  display: block;
}

emd-field-wrapper > * {
  display: block;
}
