.common-label {
	font-size: 10px;
	line-height: 12px;
	font-weight: 900;
	letter-spacing: 1px;
	border-radius: 15px;
	padding: 4px 8px;
	color: white;
}

.red-text-label:before,
.yellow-text-label:before,
.gray-text-label:before,
.green-text-label:before,
.purple-text-label:before {
	content: "•";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}

/*
	Inlines
*/
.red-fill-label { 
	background-color: #e74c3c;
}

.yellow-fill-label {
	background-color: #f9bf09;
}

.gray-fill-label {
	background-color: #c3c8d2;
}

.green-fill-label {
	background-color: #2ecc71;
}

.purple-fill-label {
	background-color: #8036dc;
}

/*
	Outlines
*/
.red-outline-label {
	background-color: white;
	border: 1px solid #e74c3c;
	color: #e74c3c;
}

.yellow-outline-label {
	background-color: white;
	border: 1px solid #f9bf09;
	color: #f9bf09;
}

.gray-outline-label {
	background-color: white;
	border: 1px solid #c3c8d2;
	color: #c3c8d2;
}

.green-outline-label {
	background-color: white;
	border: 1px solid #2ecc71;
	color: #2ecc71;
}

.purple-outline-label {
	background-color: white;
	border: 1px solid #8036dc;
	color: #8036dc;
}

/*
	Only texts
*/

.red-text-label {
	color: #e74c3c;
}

.yellow-text-label {
	color: #f9bf09;
}

.gray-text-label {
	color: #c3c8d2;
}

.green-text-label {
	color: #2ecc71;
}

.purple-text-label {
	color: #8036dc;
}