@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&Fira+Code&display=swap");

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  font-size: 16px;
  background-color: #f2f5f7;
  color: #2d3844;
  line-height: 1.35;
}

body {
  margin: 0;
}

.story {
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 20px;
  margin: 0;
}

.codesample,
.inlinecodesample {
  padding: 20px;
  background: rgba(30, 30, 30, 1);
  color: rgba(156, 220, 254, 1);
  border-radius: 10px;
}

.codesample {
  grid-column: 2;
  margin-bottom: auto;
  overflow: auto;
}

.inlinecodesample {
  padding: 12px 12px 12px 20px;
  text-align: left;
}

.codesample pre,
.inlinecodesample pre {
  margin: 0;
  font-size: 14px;
  font-family: "Fira Code", monospace;
}

.icongrid {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
