@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i");

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  margin: 30px;
  font-size: 16px;
  background-color: #f2f5f7;
  color: #2d3844;
  line-height: 1.35;
}

body {
  display: grid;
  grid-gap: 30px;
}

.fake-component {
  width: 100%;
  height: 200px;
  background: repeating-linear-gradient(
    45deg,
    rgba(45, 56, 68, 0.075),
    rgba(45, 56, 68, 0.075) 10px,
    rgba(45, 56, 68, 0.15) 10px,
    rgba(45, 56, 68, 0.15) 20px
  );
}

h4, p {
  margin: 0;
}

emd-button {
  font-size: 0.875em;
  margin-top: 1.5em;
}

emd-button span {
  font-family: 'Lucida Sans', 'Lucida Grande', sans-serif;
}

emd-money-card {
  padding: 1.25em;
}

h1 + emd-money-card {
  background: #0db14b;
  color: #fff;
}

h1 + emd-money-card + emd-money-card,
h1 + emd-money-card + emd-money-card + emd-money-card {
  background: #fff;
}

h1 + emd-money-card + emd-money-card emd-button {
  color: #0db14b;
  border-color: transparent;
}
