.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  justify-items: stretch;
  align-items: flex-start;
  font-size: 16px;
}

.field {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #909;
}

.field__input {
  -webkit-appearance: none;
  appearance: none;
  font-size: 1em;
  line-height: 2;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.field__icon_hidden {
  display: none;
}

p {
  height: 40px;
}
