:host {
  display: inline-block;
  vertical-align: middle;
}

.emd-brand-icon__wrapper {
  --default: 2em;
  display: block;
  width: calc(1.6 * var(--default));
  overflow: hidden;
}

.emd-brand-icon__unknown,
.emd-brand-icon__stone {
  width: calc(1.5 * var(--default));
  padding-bottom: calc(0.18 * var(--default));
}

.emd-brand-icon__alelo {
  width: calc(1.05 * var(--default));
}

.emd-brand-icon__amex,
.emd-brand-icon__american_express,
.emd-brand-icon__americanexpress {
  width: calc(0.94 * var(--default));
  padding-right: calc(0.125 * var(--default));
}

.emd-brand-icon__banescard {
  width: calc(1.05 * var(--default));
}

.emd-brand-icon__ben {
  width: calc(0.87 * var(--default));
}

.emd-brand-icon__boleto,
.emd-brand-icon__barcode {
  width: calc(1.05 * var(--default));
}

.emd-brand-icon__cabal,
.emd-brand-icon__cabal_full {
  width: calc(1 * var(--default));
}

.emd-brand-icon__cooper,
.emd-brand-icon__cooper_card,
.emd-brand-icon__coopercard {
  width: calc(0.94 * var(--default));
}

.emd-brand-icon__diners {
  width: calc(1.15 * var(--default));
}

.emd-brand-icon__elo,
.emd-brand-icon__elo_credito,
.emd-brand-icon__elo_debito {
  width: calc(0.85 * var(--default));
}

.emd-brand-icon__greencard {
  width: calc(1.35 * var(--default));
}

.emd-brand-icon__itau {
  width: calc(0.825 * var(--default));
}

.emd-brand-icon__hiper {
  width: calc(0.98 * var(--default));
}

.emd-brand-icon__hipercard {
  width: calc(1.3 * var(--default));
}

.emd-brand-icon__mastercard {
  width: calc(1.1325 * var(--default));
}

.emd-brand-icon__unionpay,
.emd-brand-icon__union_pay {
  width: calc(1.1 * var(--default));
}

.emd-brand-icon__up,
.emd-brand-icon__upbrasil,
.emd-brand-icon__up_brasil {
  width: calc(1 * var(--default));
}

.emd-brand-icon__senff {
  width: calc(1.175 * var(--default));
}

.emd-brand-icon__sodexo {
  width: calc(1.42 * var(--default));
  padding-bottom: calc(0.2 * var(--default));
}

.emd-brand-icon__sorocred {
  width: calc(1.42 * var(--default));
}

.emd-brand-icon__ticket {
  width: calc(1.6 * var(--default));
}

.emd-brand-icon__valecard {
  width: calc(1.35 * var(--default));
}

.emd-brand-icon__verdecard {
  width: calc(0.98 * var(--default));
}

.emd-brand-icon__verocard {
  width: calc(1.3 * var(--default));
}

.emd-brand-icon__visa {
  width: calc(1.32 * var(--default));
	padding-right: calc(0.125 * var(--default));
}

.emd-brand-icon__vr,
.emd-brand-icon__vr_beneficios {
  width: calc(0.825 * var(--default));
}

.emd-brand-icon__wrapper > svg {
  display: block;
  width: 100%;
  height: auto;
  fill: currentColor;
}

/* for Edge compatibility */

emd-brand-icon {
  display: inline-block;
  vertical-align: middle;
}
