body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px 20px;
  margin: 30px 20px;
  background: #fff;
  align-items: center;
  justify-items: flex-start;
}

sling-icon:nth-of-type(1) {
  width: 24px;
  color: #2ECC71;
}

sling-icon:nth-of-type(2) {
  width: 36px;
}

sling-icon:nth-of-type(3) {
  width: 48px;
}

sling-icon:nth-of-type(4) {
  width: 64px;
}
